<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootcamp Banking</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <header>
        <h1>Bootcamp Banking</h1>
    </header>
    {{{body}}}
    <footer>
        <button id="phone-support">Phone Support</button>
        <button id="live-chat">Live Chat</button>
        <button id="email-support">Email</button>
    </footer>

</body>
</html>