<h2>Total Checking</h2>

<section class="checking">
  <div class="checking-account">
    <container>
        <h3 class="balance">Available Balance: <span class="span">{{checking.account_balance}}</span></h3>
        <h3>Account Number: {{checking.account_number}}</h3>
    </container>
    <div class="manage">
      <h3>Manage Account</h3>
      <div class="transfer">
        <input class="transfer-input"/>
        <button class="transfer-btn btn btn-primary" type="click">Transfer</button>
      </div>
      <div class="deposit">
        <input class="deposit-input"/>
        <button class="deposit-btn btn btn-primary" type="click">Deposit</button>
      </div>
      <div class="withdraw">
        <input class="withdraw-input"/>
        <button class="withdraw-btn btn btn-primary" type="click">Withdraw</button>
      </div>
    </div>
    <h3>Last managed on {{checking.updatedAt}}</h3>
    <h3>Created on {{checking.createdAt}}</h3>
  </div>
</section>

<script src="/js/checking.js"></script>