<section class="checking apply-background">
  <h2>Total Checking</h2>
  <div class="checking-account">
    <container>
      <h4 class="balance">Available Balance: $<span
          class="span"
        >{{checking.account_balance}}</span></h4>
      <h4>Account Number: {{checking.account_number}}</h4>
    </container>
    <div class="manage">
      <h4>Manage Account</h4>
      <div class="transfer">
        <input class="transfer-input" />
        <button
          class="transfer-btn btn btn-primary"
          type="click"
        >Transfer to Savings</button>
      </div>
      <div class="deposit">
        <input class="deposit-input" />
        <button
          class="deposit-btn btn btn-primary"
          type="click"
        >Deposit</button>
      </div>
      <div class="withdraw">
        <input class="withdraw-input" />
        <button
          class="withdraw-btn btn btn-primary"
          type="click"
        >Withdraw</button>
      </div>
    </div>
    <h4 class="transaction">Last transaction
      <span class="update">{{checking.updatedAt}}</span></h4>
    <h4>Account opened on
      <span class="create">{{checking.createdAt}}</span></h4>
  </div>
</section>

<script
  src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"
  integrity="sha256-iu/zLUB+QgISXBLCW/mcDi/rnf4m4uEDO0wauy76x7U="
  crossorigin="anonymous"
></script>
<script src="/js/checking.js"></script>