<button id="logout"  type="click">Logout</button>
<section class="container" id="homepage-container">
  <img
    src="images/mobile-banking-image.jpg"
    alt="Mobile Banking"
    class="responsive-img"
  />
  <div class="account-links">
    <a href="/checking">Checking</a>
    <a href="/savings">Savings</a>
  </div>
</section>
<script src="/js/logout.js"></script>
<script src="/js/homepage.js"></script>