<section class="container" id="homepage-container">
  <img
    src="images/mobile-banking-image.jpg"
    alt="Mobile Banking"
    class="responsive-img"
  />
  <div class="account-links">
    <a href="/checking">Checking {{checking.account_number}}</a>
    <a href="/savings">Savings {{savings.account_number}}</a>
  </div>
</section>
{{! <script src="/js/homepage.js"></script> }}