<button id="logout"  type="click">Logout</button>
<section class="container" id="homepage-container">
  <img
    src="images/mobile-banking-image.jpg"
    alt="Mobile Banking"
    class="responsive-img"
  />
  <div class="account-links">
    <a href="/savings">Savings {{savings.account_number}}</a>
  </div>
  <button type="click" class="btn btn-secondary" id="checking">Open a Checking Account</button>
</section>
<script src="/js/logout.js"></script>
<script src="/js/openchecking.js"></script>