<section class="savings apply-background">
  <h2>Total Savings</h2>
  <div class="savings-account">
    <container>
      <h4 class="balance">Available Balance: $<span
          class="span"
        >{{savings.account_balance}}</span></h4>
      <h4>Account Number: {{savings.account_number}}</h4>
    </container>
    <div class="manage">
      <h4>Manage Account</h4>
      <div id="transfermb-3">
        <input class="transfer-input mb-3"placeholder=" transfered ammount to checkings account" />
        <button
          class="transfer-btn btn btn-primary"
          type="click"
        >Transfer</button>
      </div>
      <div class="deposit mb-3">
        <input class="deposit-input mb-3"  placeholder="Enter deposit amount"/>
        <button
          class="deposit-btn btn btn-primary"
          type="click"
        >Deposit</button>
      </div>
      <div class="withdrawal mb-3">
        <input class="withdrawal-input mb-3" placeholder="Enter withdrawal amount" />
        <button
          class="withdrawal-btn btn btn-primary"
          type="click"
        >Withdraw</button>
      </div>
    </div>
    <h4 class="transaction">Last transaction <span class="update">{{savings.updatedAt}}</span></h4>
    <h4>Account opened on <span class="create">{{savings.createdAt}}</span></h4>
  </div>
</section>

<script
  src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"
  integrity="sha256-iu/zLUB+QgISXBLCW/mcDi/rnf4m4uEDO0wauy76x7U="
  crossorigin="anonymous"
></script>
<script src="/js/savings.js"></script>