<section class="savings">
  <div class="savings-account">
    <h2>Total Savings</h2>
    <container>
        <h3>Available Balance: {{savings.account_balance}}</h3>
        <p>Account Details:</p>
          <ul>
            <li>Account Number: {{savings.account_number}}</li>
            <li>Last Transaction: </li>
          </ul>
    </container>
    <div class="deposit">
      <label>Deposit:</label>
      <input class="deposit-input"/>
    </div>
    <div class="withdraw">
      <label>Withdraw:</label>
      <input class="withdraw-input">
    </div>
  </div>
</section>